.aside{
	display: grid;
  grid-template-columns: 1fr 1400px 1fr;
	background-color: #231815;
	height: 40px;
}
.aside__container{
	grid-column: 2;
	max-width: 1400px;
	display: flex;
	color: white;
	justify-content: flex-end;
	align-items: center;
	gap: 70px;
}
@media (min-width: 1440px) and (max-width: 1760px){
	.aside{
		grid-template-columns: 1fr 1240px 1fr;
	}
}
@media (max-width: 1439px) {
	.aside{
		display: none;
	}
}